@model BatDongSan.Models.MenuItem

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Trang Sửa Menu";
}

<h1>Edit</h1>

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Title" class="control-label">Name</label>
                <input asp-for="Title" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Detail" class="control-label">Link</label>
                <textarea id="Details" asp-for="Detail" class="form-control">@Model.Link</textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Meta" class="control-label">Meta</label>
                <input asp-for="Meta" class="form-control" value="@Model.Meta" />
                <span asp-validation-for="Meta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hide" class="control-label">Hide</label>
                <input asp-for="Hide" type="checkbox" checked="@Model.Hide" />
                <span asp-validation-for="Hide" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order" class="control-label">Order</label>
                <input asp-for="Order" class="form-control" value="@Model.Order" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

