@model IEnumerable<BatDongSan.Models.News>
@{
    ViewData["Title"] = "News";
    Layout = "_Layout1";
}
<div>
    <div class="container">
        <main role="main" class="pb-3">
            <section class="ftco-section" id="blog-section">
                <div class="container">
                    @{
                        @foreach (var blog in Model)
                        {
                            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                                <div class="blog-entry ">
                                    <a href="@Url.Action("news", new { id = blog.Meta })" >
                                        <img class ="img-fluid" src="@Url.Content("~/images/" + blog.Img)">
                                    </a>
                                    <div class="text float-right d-block">
                                        <h3 class="heading"><a href="@Url.Action("news", new { id = blog.Id })">@blog.Name</a></h3>
                                        <p>@blog.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </main>
    </div>
</div>

